<div class="data">
  <table class="data__table">
    <thead class="data__table__thead">
      <tr class="data__table__thead__tr">
        <th class="data__table__thead__tr__th" scope="col">ID</th>
        <th class="data__table__thead__tr__th" scope="col">
          Total Run Time hh:mm:ss.ms
        </th>
        <th class="data__table__thead__tr__th" scope="col">
          Initial Start Time
        </th>
        <th class="data__table__thead__tr__th" scope="col">Passed</th>
        <th class="data__table__thead__tr__th" scope="col">
          Run Time hh:mm:ss.ms
        </th>
        <th class="data__table__thead__tr__th" scope="col">Test Start Time</th>
        <th class="data__table__thead__tr__th" scope="col">Test Passed</th>
        <th class="data__table__thead__tr__th data__table__thead__tr__error" scope="col">Error</th>
      </tr>
    </thead>
    <tbody class="data__table__tbody">
      <tr class="data__table__tbody__tr" *ngFor="let e of lis">
        <td class="data__table__tbody__tr__ids">
          <tr class="data__table__tbody__tr__ids__tr">
            <td class="data__table__tbody__tr__ids__tr__e1">{{ e.Results[0].Id }}</td>
            <td class="data__table__tbody__tr__ids__tr__e2">{{ e.Results[1].Id }}</td>
          </tr>
        </td>
        <td class="data__table__tbody__tr__final-runtime" scope="col">
          <p>{{ e.RunTime }}</p>
        </td>
        <td class="data__table__tbody__tr__initial-start-time" scope="col">
          {{ e.StartTime | date: "medium" }}
        </td>
        <td class="data__table__tbody__tr__final-result">
          <tr class="data__table__tbody__tr__final-result__tr">
            <td class="data__table__tbody__tr__final-result__tr__img" *ngIf="e.Passed"><img src="assets/svg/passed.svg"></td>
            <td class="data__table__tbody__tr__final-result__tr__img" *ngIf="!e.Passed"><img src="assets/svg/failed.svg"></td>
          </tr>
        </td>
        <td class="data__table__tbody__tr__runtime">
          <tr class="data__table__tbody__tr__runtime__tr">
            <td class="data__table__tbody__tr__runtime__tr__e1">{{ e.Results[0].RunTime }}</td>
            <td class="data__table__tbody__tr__runtime__tr__e2">{{ e.Results[1].RunTime }}</td>
          </tr>
        </td>
        <td class="data__table__tbody__tr__start-time">
          <tr class="data__table__tbody__tr__start-time__tr">
            <td class="data__table__tbody__tr__start-time__tr__e1">{{ e.Results[0].StartTime | date: "medium" }}</td>
            <td class="data__table__tbody__tr__start-time__tr__e2">{{ e.Results[1].StartTime | date: "medium" }}</td>
          </tr>
        </td>
        <td class="data__table__tbody__tr__result">
          <tr class="data__table__tbody__tr__result__tr">
            <td class="data__table__tbody__tr__result__tr__img data__table__tbody__tr__result__tr__img__e1" *ngIf="e.Results[0].Passed"><img src="assets/svg/passed.svg"></td>
            <td class="data__table__tbody__tr__result__tr__img data__table__tbody__tr__result__tr__img__e1" *ngIf="!e.Results[0].Passed"><img src="assets/svg/failed.svg"></td>
            <td class="data__table__tbody__tr__result__tr__img data__table__tbody__tr__result__tr__img__e2" *ngIf="e.Results[1].Passed"><img src="assets/svg/passed.svg"></td>
            <td class="data__table__tbody__tr__result__tr__img data__table__tbody__tr__result__tr__img__e2" *ngIf="!e.Results[1].Passed"><img src="assets/svg/failed.svg"></td>
          </tr>
        </td>
        <td class="data__table__tbody__tr__err">
          <tr class="data__table__tbody__tr__err__tr">
            <td class="data__table__tbody__tr__err__tr__e1">{{ e.Results[0].Error }}</td>
            <td class="data__table__tbody__tr__err__tr__e2">{{ e.Results[1].Error }}</td>
          </tr>
        </td>
        
        <!-- <td class="data__table__tbody__tr__error">
          <tr class="data__table__tbody__tr__error__tr">
            <td class="data__table__tbody__tr__error__tr__e1" *ngIf="e.Results[0].Error">{{ e.Results[0].Error }}</td>
            <td class="data__table__tbody__tr__error__tr__e1" *ngIf="!e.Results[0].Error">No Error</td>
            <td class="data__table__tbody__tr__error__tr__e2" *ngIf="e.Results[1].Error">{{ e.Results[1].Error }}</td>
            <td class="data__table__tbody__tr__error__tr__e2" *ngIf="!e.Results[1].Error">No Error</td>
          </tr>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
