<div class="tasks">
    <button type="button" class="tasks__button" (click)="changeState('Run')"> <img class="tasks__button__img" src="assets/svg/run.svg"/> <p>Run</p></button>
    <button type="button" class="tasks__button" (click)="changeState('History')"> <img class="tasks__button__img" src="assets/svg/history.svg"/> <p>History</p></button>
    <button type="button" class="tasks__button" (click)="changeState('Update')"> <img class="tasks__button__img" src="assets/svg/update.svg"/> <p>Update</p></button>
    <button type="button" class="tasks__button" (click)="changeState('Edit')"> <img class="tasks__button__img" src="assets/svg/edit.svg"/> <p>Edit</p></button>
    <button type="button" class="tasks__button" (click)="changeState('Create_New_Test')" > <img class="tasks__button__img" src="assets/svg/create_new_test.svg"/> <p>Create New Test</p></button>
    <button type="button" class="tasks__button tasks__button--delete" (click)="changeState('Delete')"> <img class="tasks__button__img tasks__button__img--delete" src="assets/svg/delete.svg"/> <p>Delete</p></button>
</div>
