<div class="test-maintenance">
  <div class="test-maintenance__content">
    <h3 class="test-maintenance__content__heading">System Test Maintenance</h3>
    <hr class="test-maintenance__content__hrheading" />
    <div class="test-maintenance__content__select-test">
      <p class="test-maintenance__content__select-test__label">Choose a Test</p>
      <div class="test-maintenance__content__select-test__select-div">
        <select
          class="test-maintenance__content__select-test__select-div__select"
        >
          <option value="0">Test - 0 | Vessel Test</option>
          <option value="1">Test - 1 | Vessel Test</option>
          <option value="2">Test - 2 | Vessel Test</option>
          <option value="3">Test - 3 | Vessel Test</option>
          <option value="4">Test - 4 | Vessel Test</option>
          <option value="5">Test - 5 | Vessel Test</option>
          <option value="6">Test - 6 | Vessel Test</option>
          <option value="7">Test - 7 | Vessel Test</option>
          <option value="8">Test - 8 | Vessel Test</option>
          <option value="9">Test - 9 | Vessel Test</option>
          <option value="10">Test - 10 | Vessel Test</option>
          <option value="11">Test - 11 | Vessel Test</option>
        </select>
      </div>
    </div>
    <div class="test-maintenance__content__test">
      <app-test-tasks class="test-maintenance__content__test__tasks"></app-test-tasks>
      <div class="test-maintenance__content__test__hr">
      <app-test-data class="test-maintenance__content__test__data"></app-test-data>
    </div>
  </div>
</div>
